#view-all{
    margin-right: 0%;
    margin-bottom: 100px;
}
#btn{
    border:none;
    background-color:rgb(223, 92, 45);
    color: #FFFFFF;
    padding: 10px 18px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 14px;
}
#btn:hover{
    background-color: crimson;
    color: black;
    font-size: 17px;
    font-weight: 500;
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
.outContainer{
    /* background-color: blue; */
    width: 96%;
    display: flex;
    /* margin: 50px auto ; */
    margin-left: 2%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.menu-items{
    width: 75%;
    /* background-color: rgb(205, 191, 137); */
    background-color: #FFFFFF;
    margin-right: 10px;
    padding-left: 50px;
    border-radius: 12px;
}


.filter-box{
    width: 21%;
    height: 100vh;
    position: sticky;
    top: 0;
    /* background-color: goldenrod; */
    border-radius: 12px;
    background-color: #e3a94b;
    margin-left: 4%;
}



.imgMainCont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* margin-left: 1.5%; */
}

.box{
    border: 1px solid grey;
    width: 350px;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    margin: 10px;
}
.product-img{
    position: relative;
}
.img{
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.textContent{

}
.item-details{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    margin: 9px;
}
.item-title span{
    font-size: 19px;
    font-weight: 600;
    color: black;
}
.item-title{
    font-size: 15px;
    color: crimson;
    font-weight: 700;
}


.text-box{
    padding: 0px 10px
}

.hr{
    border-top: 1px solid grey;
}

.box-lowerText{
    display: flex;
    align-items: center;
    width: 99%;
    margin: auto 1%;
    padding: 2px 5px;

}
.left-lowerText{
    background-color: #28B463;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 3px 1px;
    border-radius: 5px;
    width: 20%;
}
.max-safety{
    background-color: goldenrod;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 600px;
    color: black;
    padding: 2px 0px;
    font-weight: 700;
}
.delivery{
    color: #fff;
    position: absolute;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    margin: 0px 0px -25px 4px;
}
.right-lowerText{
    width: 79%;
}
.right-lowerText p{
    color: rgb(89, 84, 84);
    font-size: 14px;
    padding: 4px;
}


.text-promoted{
    margin: 5px 10px;
}

.text-promoted p{
    position: absolute;
    top: 10px;
    background-color: #a8937d;
    border-radius: 5px;
    height: auto;
    padding: 0px 5px;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
}
.text-offer{
    margin-bottom: 20px;
}
.text-offer p{
    position: absolute;
    bottom: 10px;
    background-color:rgb(37 111 239) ;
    height: auto;
    padding: 0px 15px;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px; 
}






/* filter-section */

.filter-container{
    /* border: 1px solid grey; */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content:left;
}





